doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    script(src="/jquery.min.js")
    script(src="/js/bootstrap.min.js")
  body
    block content
